{% extends 'base.html' %}

{% load staticfiles %}

{% block titulo %}Adicionar Contrato{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{% url 'inicial' %}"><i class="fa fa-dashboard"></i> Inicial</a></li>
		<li class="active">Adicionar Contrato</li>
	</ol>
{% endblock breadcrumb %}

{% block controles %}
	<div class="row">
		<div class="col-md-12" id="alertas"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-borders">
					<div class="box-title">Cliente</div>
				</div>
				<div class="box-body">

					<div class="row">
						<div class="col-md-10">
							<select id="cliente" class="form-control selectpicker" title="Selecione um cliente...">
								{% for cliente in clientes %}
									{% if cliente.tipo == 'F' %}
										<option value="{{cliente.id}}">{{cliente.cpf}} - {{cliente.nome}} {{cliente.sobrenome}}</option>
									{% else %}
										<option value="{{cliente.id}}">{{cliente.cnpj}} - {{cliente.razaoSocial}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>

						<div class="col-md-2">
							<div class="row">
								<div class="col-md-12">
									<a href="{% url 'telaAdicionarCliente' %}" class="btn btn-primary btn-flat btn-block">
										<i class="fa fa-plus">&nbsp;</i>Cadastrar
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="box">
				<div class="box-header with-borders">
					<div class="box-title">Dados do Contrato</div>
				</div>
				<div class="box-body">

					<div class="row">
						<div class="col-md-1">Número:</div>
						<div class="col-md-2" id="numero"></div>

						<div class="col-md-1">Serviço:</div>
						<div class="col-md-2">
							<select id="servico" class="form-control selectpicker" title="Selecione...">
								{% for servico in servicos %}
								    <option value="{{servico.id}}">{{servico.nome}}</option>
								{% endfor %}
							</select>
						</div>

						<div class="col-md-1">Módulos:</div>
						<div class="col-md-2">
							<select id="modulos" class="form-control selectpicker" multiple data-selected-text-format="count > 1">
								{% for modulo in modulos %}
								    <option value="{{modulo.id}}">{{modulo.nome}}</option>
								{% endfor %}
							</select>
						</div>

						<div class="col-md-1">Vigência:</div>
						<div class="col-md-2"><input type="text" class="form-control" id="vigencia"></div>
					</div>

					<div class="row" style="padding-top: 10px;">
						<div class="col-md-1">Valor:</div>
						<div class="col-md-2"><input type="text" class="form-control" id="valor" value="0,00"></div>

						<div class="col-md-1">Parcelas:</div>
						<div class="col-md-2"><input type="text" class="form-control" id="parcelas"></div>

						<div class="col-md-3">Valor das Parcelas: R$ <span id="valorParcelas">0,00</span></div>

						<div class="col-md-1">Dia de Pagamentos:</div>
						<div class="col-md-2"><input type="text" class="form-control" id="diaPagamentos"></div>
					</div>

					<div class="row" style="padding-top: 10px;">
						<div class="col-md-12">
							<textarea id="observacoes" rows="5" placeholder="Descrição do contrato" class="form-control"></textarea>
						</div>
					</div>

					<div class="row" style="padding-top: 10px;">
						<div class="col-md-12">
							<a href="javascript:cadastrar()" class="btn btn-primary btn-flat btn-block">
								<i class="fa fa-check">&nbsp;</i>Enviar
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock controles %}

{% block cabecalho %}
	<link rel="stylesheet" href="{% static 'bibliotecas/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
{% endblock cabecalho %}

{% block processamento %}
	<script src="{% static 'bibliotecas/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'bibliotecas/bootstrap-select/dist/js/i18n/defaults-pt_BR.min.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.selectpicker').selectpicker({
				style: 'form-control',
				liveSearch: true
			})

			$.get('{% url 'proximoNumeroContrato' %}')
			.done(function(resposta) {
				$('#numero').html(resposta.numero)
			})
			.fail(function() {
				window.location.reload()
			})
		})

		$('#vigencia').on('keyup', function() {
			calculaValor()
			calculaParcelas()
		})

		$('#servico').on('changed.bs.select', function(evento, indice, novo, antigo) {
			calculaValor()
			calculaParcelas()
		})

		$('#modulos').on('changed.bs.select', function(evento, indice, novo, antigo) {
			calculaValor()
			calculaParcelas()
		})

		$('#valor').on('blur', function() {
			calculaParcelas()
		})

		$('#parcelas').on('blur', function() {
			calculaParcelas()
		})

		function calculaValor() {
			valor = 0
			servicos = [
				{% for servico in servicos %}
					{
						id: '{{servico.id}}',
						nome: '{{servico.nome}}',
						valor: '{{servico.valor}}'
					}{% if not forloop.last %},{% endif %}
				{% endfor %}
			]

			modulos = [
				{% for modulo in modulos %}
					{
						id: '{{modulo.id}}',
						nome: '{{modulo.nome}}',
						valor: '{{modulo.valor}}'
					}{% if not forloop.last %},{% endif %}
				{% endfor %}
			]

			//Verifica o serviço escolhido
			for (i=0; i<servicos.length; i++) {
				if ($('#servico').val() == servicos[i].id) { valor += parseFloat(servicos[i].valor.replace(',', '.')) }
			}

			for (i=0; i<modulos.length; i++) {
				for (j=0; j<$('#modulos').val().length; j++) {
					if ($('#modulos').val()[j] == modulos[i].id) { valor += parseFloat(modulos[i].valor.replace(',', '.')) }
				}
			}

			if ($('#vigencia').val() != '') {
				valor = valor * parseInt($('#vigencia').val())
			}

			$('#valor').val(valor.toFixed(2).toString().replace('.', ','))
		}

		function calculaParcelas() {
			valor = parseFloat( $('#valor').val().replace(',', '.') )
			if ($('#parcelas').val() != '') {
				$('#valorParcelas').html(
					(valor/parseInt($('#parcelas').val())).toFixed(2).toString().replace('.', ',')
				)
			}
		}

		function validaFormulario() {
			if ($('#cliente').val() != ''){
				if ($('#servico').val() != '') {
					if ($('#parcelas').val() != '' || $('#parcelas').val() != '0') {
						if (
							$('#diaPagamentos').val() != '' &&
							(parseInt($('#diaPagamentos').val()) > 0 && parseInt($('#diaPagamentos').val()) < 31)
						) {
							return true
						} else {
							$('#alertas').html('<div class="alert alert-warning">Escolha um dia de pagamento entre 01 e 30.</div>')
							$('#diaPagamentos').focus()
							return false
						}
					} else {
						$('#alertas').html('<div class="alert alert-warning">O número mínimo de parcelas permitido é 1.</div>')
						$('#parcelas').focus()
						return false
					}
				} else {
					$('#alertas').html('<div class="alert alert-warning">Escolha um serviço.</div>')
					$('#servico').focus()
					return false
				}
			} else {
				$('#alertas').html('<div class="alert alert-warning">Escolha um cliente.</div>')
				$('#cliente').focus()
				return false
			}
		}

		function limpaFormulario() {
			$('#cliente').selectpicker('val', '')
			$('#servico').selectpicker('val', '')
			$('#modulos').selectpicker('val', '')
			$('#vigencia').val('')
			$('#valor').val('0,00')
			$('#parcelas').val('')
			$('#valorParcelas').html('0,00')
			$('#diaPagamentos').val('')
			$('#observacoes').val('')

			//Atualiza o número do contrato
			$.ajax({
				url: '{% url 'proximoNumeroContrato' %}',
				async: true
			})
			.done(function(resposta) {
				$('#numero').html(resposta.numero)
			})
		}

		function cadastrar() {
			if (validaFormulario()) {
				dados = {
					numero: $('#numero').html(),
					cliente: $('#cliente').val(),
					servico: $('#servico').val(),
					modulos: $('#modulos').val(),
					vigencia: $('#vigencia').val(),
					valor: $('#valor').val(),
					parcelas: $('#parcelas').val(),
					diaPagamento: $('#diaPagamentos').val(),
					observacoes: $('#observacoes').val()
				}

				$.post('{% url 'cadastrarContrato' %}', dados)
				.done(function(resposta) {
					if (resposta.status == '1') {
						limpaFormulario()
						$('#alertas').html('<div class="alert alert-success">Contrato cadastrado com sucesso.</div>')
					} else {
						$('#alertas').html('<div class="alert alert-danger">Erro ao cadastrar o contrato. Contate um administrador do sistema.</div>')
					}
				})
				.fail(function() {
					$('#alertas').html('<div class="alert alert-danger">Erro ao cadastrar o contrato. Recarregue a página e tente novamente.</div>')
				})
			}
		}
	</script>
{% endblock processamento %}
