{% extends 'base.html' %}

{% load static %}

{% block titulo %}Buscar Consultorias{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{% url 'inicial' %}"><i class="fa fa-dashboard"></i> Inicial</a></li>
		<li class="active">Buscar Consultorias</li>
	</ol>
{% endblock breadcrumb %}

{% block cabecalho %}
	<link rel="stylesheet" href="{% static 'bibliotecas/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock cabecalho %}

{% block controles %}
	<div class="row">
		<div class="col-md-12" id="alertas"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">

					<div class="row">
						<div class="col-md-2">Empresa:</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="empresa" placeholder="Empresa">
						</div>
						<div class="col-md-2">Data de Envio:</div>
						<div class="col-md-3"><input type="text" class="form-control" id="dataEnvio" placeholder="Data de Envio"></div>
						<div class="col-md-1">
							<a href="javascript:pesquisar()" class="btn btn-flat btn-primary">
								<i class="fa fa-search"></i>
							</a>
						</div>
					</div>

					<div class="row" style="padding-top: 10px;">
						<div class="col-md-12" id="resultados"></div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Janela Modal -->
	<div class="modal fade" id="janelaModal" tabindex="-1" role="dialog" aria-labelledby="tituloModal">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="tituloModal"></h4>
				</div>
				<div class="modal-body" id="conteudoModal"></div>
			</div>
		</div>
	</div>
	<!-- Fim da janela modal -->
{% endblock controles %}

{% block processamento %}
	<!-- Bibliotecas -->
	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>

	<!-- Processamento -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#dataEnvio').datepicker({
				language: 'pt-BR',
				format: "dd/mm/yyyy",
				todayHighlight: true
			})
		})

		function validaFormulario() {
			if ($('#empresa').val() != '' || $('#dataEnvio').val() != '') {
				return true
			} else {
				return false
			}
		}

		function pesquisar() {
			if (validaFormulario()) {
				dados = {
					empresa: $('#empresa').val(),
					dataEnvio: $('#dataEnvio').val()
				}

				$.get('{% url 'buscarConsultoria' %}', dados)
				.done(function(resposta) {
					if (resposta.status == 1) {

						$('#resultados').html(`Resultados encontrados: ${resposta.consultorias.length}<br>
							<table id="tabelaResultados" class="table">
								<tr class="info">
									<td class="negrito">Empresa</td>
									<td class="negrito">Domínio</td>
									<td class="negrito">E-mail</td>
									<td class="negrito">Cadastrado em...</td>
									<td class="negrito">Enviado em...</td>
									<td></td>
								</tr>
							</table>
						`)

						for (i=0; i<resposta.consultorias.length; i++) {
							var dataHora = moment(resposta.consultorias[i].dataHoraInclusao).format('DD/MM/YYYY HH:mm:ss')
							var dataHoraEnvio = moment(resposta.consultorias[i].dataHoraEnvio).format('DD/MM/YYYY HH:mm:ss')
							if (dataHoraEnvio == 'Invalid date') {dataHoraEnvio = 'MESMA'}
							$('#tabelaResultados tr:last').after(`
								<tr>
									<td>${resposta.consultorias[i].empresa}</td>
									<td>${resposta.consultorias[i].dominio}</td>
									<td>${resposta.consultorias[i].email}</td>
									<td>${dataHora}</td>
									<td>${dataHoraEnvio}</td>
									<td>
										<a href="javascript:dadosConsultoria(${resposta.consultorias[i].id})" class="btn btn-flat btn-primary">
											<i class="fa fa-info-circle"></i>
										</a>
									</td>
								</tr>
							`)
						}

					} else {
						$('#alertas').html('<div class="alert alert-danger">Erro ao pesquisar consultoria. Contate um administrador.</div>')
					}
				})
				.fail(function() {
					$('#alertas').html('<div class="alert alert-danger">Erro ao pesquisar consultoria. Tente novamente clicando <a href="javascript:pesquisar()">aqui</a>.</div>')
				})
			} else {
				$('#alertas').html('<div class="alert alert-warning">Preencha um termo para buscar</div>')
			}
		}

		String.prototype.replaceAll = function(str1, str2, ignore)
		{
		    return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),(ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2);
		}

		function dadosConsultoria(idConsultoria) {
			$.get('/consultoria/dados/' + idConsultoria.toString() + '/')
			.done(function(resposta) {
				if (resposta.status == 1) {
					$('#tituloModal').html('Detalhes da Consultoria ' + resposta.consultoria[0].id)
					$('#conteudoModal').html(`
						<div class="row">
							<div class="col-md-12">
								<p class="negrito">
									Enviada em ${moment(resposta.consultoria[0].dataHora).format('DD/MM/YYYY [às] HH:mm:ss')} por ${resposta.consultoria[0].usuario__usuario__username}
								</p>

								<p>Empresa: ${resposta.consultoria[0].empresa}</p>
								<p>Domínio: ${resposta.consultoria[0].dominio}</p>
								<p>E-mail: ${resposta.consultoria[0].email}</p>
								<p>Mensagem:</p>
								<div>${resposta.consultoria[0].mensagem.replaceAll('\t', '')}</div>
								<p>Observações:</p>
								<pre>${resposta.consultoria[0].observacoes}</pre>
							</div>
						</div>
					`)

					$('#janelaModal').modal('show')
				} else {
					$('#alertas').html('<div class="alert alert-danger">Erro. Contate um administrador do sistema.</div>')
				}
			})
			.fail(function() {
				$('#alertas').html('<div class="alert alert-danger">Erro. Tente novamente.</div>')
			})
		}
	</script>
	<!-- Fim do processamento -->
{% endblock processamento %}
