{% extends 'base.html' %}

{% block titulo %}Buscar Contrato{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{% url 'inicial' %}"><i class="fa fa-dashboard"></i> Inicial</a></li>
		<li class="active">Buscar Contrato</li>
	</ol>
{% endblock breadcrumb %}

{% block controles %}
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-borders">
					<div class="box-title">Dados do Contrato</div>
				</div>
				<div class="box-body">

					<div class="row">
						<div class="col-md-1">Número:</div>
						<div class="col-md-4"><input type="text" id="numero" class="form-control"></div>

						<div class="col-md-1">Cliente:</div>
						<div class="col-md-4">
							<select id="cliente" class="form-control">
								<option value="0" disabled selected>Selecione...</option>
								{% for cliente in clientes %}
									{% if cliente.tipo == 'F' %}
										<option value="{{cliente.id}}">{{cliente.cpf}} - {{cliente.nome}} {{cliente.sobrenome}}</option>
									{% else %}
										<option value="{{cliente.id}}">{{cliente.cnpj}} - {{cliente.razaoSocial}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
						<div class="col-md-2"><a href="javascript:buscar()" class="btn btn-primary btn-flat btn-block"><i class="fa fa-search">&nbsp;</i>Buscar</a></div>
					</div>

					<div class="row" style="padding-top: 20px;">
						<div class="col-md-12" id="resultados"></div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="janelaModal" tabindex="-1" role="dialog" aria-labelledby="tituloModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="tituloModal"></h4>
				</div>
				<div class="modal-body" id="conteudoModal"></div>
			</div>
		</div>
	</div>
{% endblock controles %}

{% block processamento %}
	<script>
		function detalhesContrato(idContrato) {
			$.get('{% url 'detalhesContrato' %}?idContrato=' + idContrato.toString())
			.done(function(contrato) {
				$('#tituloModal').html('<h3>Dados do Contrato ' + contrato.numero + '</h3>')
				$('#conteudoModal').html(`
					<div class="row">
						<div class="col-md-1">Cliente:</div>
						<div class="col-md-4">
							${contrato.cliente__tipo == 'F' ? contrato.cliente__nome + ' ' + contrato.cliente__sobrenome : contrato.cliente__razaoSocial}
						</div>
						<div class="col-md-1">
							${contrato.cliente__tipo == 'F' ? 'CPF:' : 'CNPJ:'}
						</div>
						<div class="col-md-2">
							${contrato.cliente__tipo == 'F' ? contrato.cliente__cpf : contrato.cliente__cnpj}
						</div>
						${contrato.cliente__tipo == 'J' ? '<div class="col-md-1">Responsável:</div><div class="col-md-3">' + contrato.cliente__responsavel + '</div>' : ''}
					</div>

					<div class="row" style="padding-top: 10px;">
						<div class="col-md-1">Serviço:</div>
						<div class="col-md-2">${contrato.servico__nome}</div>
					</div>
				`)

				for (i=0; i<contrato.modulos__nome.length; i++) {

				}
			})
		}

		function buscar() {
			if ($('#numero').val() != '') {
				if ($('#cliente').val() != '0' && $('#cliente').val() != null) {
					endereco = `{% url 'buscarContrato' %}?numero=${$('#numero').val().replace('/', '-')}&cliente=${$('#cliente').val()}`
				} else {
					endereco = `{% url 'buscarContrato' %}?numero=${$('#numero').val().replace('/', '-')}`
				}
			} else if ($('#cliente').val() != '0' && $('#cliente').val() != null) {
				endereco = `{% url 'buscarContrato' %}?cliente=${$('#cliente').val()}`
			}

			$.get(endereco)
			.done(function(resposta) {
				if (resposta.length == 0) {
					$('#resultados').html('<h3>Nenhum registro encontrado.</h3>')
				} else {
					$('#resultados').html(`
						<table class="table table-hover" id="contratos">
							<tr>
								<th>Contrato</th>
								<th>Cliente</th>
								<th>CPF/CNPJ</th>
								<th>E-mail</th>
								<th>Valor</th>
								<th></th>
							</tr>
						</table>
					`)

					for (i=0; i<resposta.length; i++) {
						$('#contratos tr:last').after(`
							<tr>
								<td><a href="javascript:detalhesContrato(${resposta[i].id})">${resposta[i].numero}</a></td>
								<td>${resposta[i].cliente__tipo == 'F' ? resposta[i].cliente__nome + ' ' + resposta[i].cliente__sobrenome : resposta[i].cliente__razaoSocial}</td>
								<td>${resposta[i].cliente__tipo == 'F' ? resposta[i].cliente__cpf : resposta[i].cliente__cnpj}</td>
								<td>${resposta[i].cliente__email}</td>
								<td>R$ ${parseFloat(resposta[i].valor).toFixed(2).toString().replace('.', ',')}</td>
							</tr>
						`)
					}
				}
			})
			.fail(function() {
				$('#alertas').html('<div class="alert alert-danger">Erro ao buscar dados. Entre em contato com um administrador do sistema</div>')
			})
		}
	</script>
{% endblock processamento %}
