{% extends 'base.html' %}

{% block controles %}
	<div class="page-header">

		<div class="row">
			<!-- Page header, center on small screens -->
			<h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-users page-header-icon"></i>&nbsp;&nbsp;Consulta de Clientes</h1>

		</div>
	</div> <!-- / .page-header -->

	<div class="row">
		<div class="col-md-12">
			<div id="alertas"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">

					<div class="row">
						<div class="col-md-12">
							<input type="text" class="form-control" id="termoBusca" onKeyUp="pesquisaCliente()" placeholder="Pesquisa">
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<table class="table table-hover" id="tabelaClientes"></table>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="janelaModal" tabindex="-1" role="dialog" aria-labelledby="tituloModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="tituloModal"></h4>
				</div>
				<div class="modal-body" id="conteudoModal">
				</div>
			</div>
		</div>
	</div>

	<script>
		function pesquisaCliente() {
			termo = $('#termoBusca').val()

			if (termo != '') {
				$.get('{% url 'buscarCliente' %}?cliente=' + termo, function(resposta) {
					$('#tabelaClientes').html(`
						<tr style="padding-top: 20px;">
						<td style="font-weight: bold;">Cliente</td>
						<td style="font-weight: bold;">Responsável</td>
						<td style="font-weight: bold;">Telefone</td>
						<td style="font-weight: bold;">E-mail</td>
						<td></td> <!-- Controles -->
						</tr>
					`)

					for (i=0; i<resposta.length; i++){
						if (resposta[i].tipo == 'F') {
							$('#tabelaClientes tr:last').after(`
								<tr style="padding-top: 10px;">
									<td>${resposta[i].nome} ${resposta[i].sobrenome}</td>
									<td>Pessoa Física</td>
									<td>${resposta[i].telefone}</td>
									<td>${resposta[i].email}</td>
									<td>
										<a href="javascript:excluirCliente(${resposta[i].id})" class="btn btn-danger">
											<i class="fa fa-trash"></i>
										</a>

										<a href="javascript:dadosCliente(${resposta[i].id})" class="btn btn-primary">
											<i class="fa fa-info-circle"></i>
										</a>
									</td>
								</tr>
							`)
						} else if (resposta[i].tipo == 'J') {
							$('#tabelaClientes tr:last').after(`
								<tr style="padding-top: 10px;">
									<td>${resposta[i].razaoSocial}</td>
									<td>${resposta[i].responsavel}</td>
									<td>${resposta[i].telefone}</td>
									<td>${resposta[i].email}</td>
									<td>
										<a href="javascript:excluirCliente(${resposta[i].id})" class="btn btn-danger">
											<i class="fa fa-trash"></i>
										</a>

										<a href="javascript:dadosCliente(${resposta[i].id})" class="btn btn-primary">
											<i class="fa fa-info-circle"></i>
										</a>
									</td>
								</tr>
							`)
						}

					}
				})
			}
		}

		function excluirCliente(idCliente) {
			$.get('{% url 'excluirCliente' %}' + idCliente.toString())
			.done(function(resposta){
				if (resposta.status == 1) {
					$('#tabelaClientes').html('')
					$('#alertas').html('<div class="alert alert-success">Cliente excluído.</div>')
				} else {
					$('#alertas').html('<div class="alert alert-danger">Ocorreu algum erro ao tentar excluir o cliente.</div>')
				}
			})
			.fail(function(resposta){
				$('#alertas').html('<div class="alert alert-danger">Erro ao excluir o cliente. Verifique o log.</div>')
				console.log(resposta.responseText)
			})
		}

		function dadosCliente(idCliente) {
			$.get('/cliente/dados/' + idCliente.toString())
			.done(function(cliente){
				$('#tituloModal').html('Dados do Cliente')
				$('#conteudoModal').html('')

				if (cliente[0].tipo == 'F') {
					$('#conteudoModal').append(`
						<div class="row">
							<div class="col-md-12">
								<h3>${cliente[0].nome} ${cliente[0].sobrenome}</h3>
							</div>
						</div>

						<div class="row">
							<div class="col-md-1">CPF:</div>
							<div class="col-md-5">${cliente[0].cpf}</div>
						</div>
					`)
				} else {
					$('#conteudoModal').append(`
						<div class="row">
							<div class="col-md-12">
								<h3>${cliente[0].razaoSocial}</h3>
							</div>
						</div>

						<div class="row">
							<div class="col-md-1">Responsável:</div>
							<div class="col-md-5">${cliente[0].responsavel}</div>
							<div class="col-md-1">CNPJ:</div>
							<div class="col-md-5">${cliente[0].cnpj}</div>
						</div>
					`)
				}

				$('#conteudoModal').append(`
					<div class="row">
						<div class="col-md-1">Tel.:</div>
						<div class="col-md-3">${cliente[0].telefone}</div>
						<div class="col-md-1">E-mail:</div>
						<div class="col-md-7">${cliente[0].email}</div>
					</div>

					<div class="row">
						<div class="col-md-1">CEP:</div>
						<div class="col-md-3">${cliente[0].cep}</div>
						<div class="col-md-2">Endereço:</div>
						<div class="col-md-6">${cliente[0].endereco}, ${cliente[0].numero} - ${cliente[0].complemento} - ${cliente[0].bairro}</div>
					</div>

					<div class="row">
						<div class="col-md-2">Cidade:</div>
						<div class="col-md-10">${cliente[0].cidade__nome} - ${cliente[0].cidade__estado__uf}</div>
					</div>
				`)

				$('#janelaModal').modal('show')
			})
			.fail(function(resposta){
				$('#alertas').html('<div className="alert alert-warning">Erro ao requisitar dados do servidor.</div>')
			})
		}
	</script>
{% endblock %}
