{% extends 'base.html' %}

{% load static %}

{% block titulo %}Contas a Pagar{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{% url 'inicial' %}"><i class="fa fa-dashboard"></i> Inicial</a></li>
		<li class="active">Contas a Pagar</li>
	</ol>
{% endblock breadcrumb %}

{% block controles %}
	<div class="row">
		<div class="col-md-12" id="alertas"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<div class="box-title">Cadastrar</div>
				</div>
				<div class="box-body">

					<div class="row">
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-2">Data:</div>
								<div class="col-md-2"><input type="text" class="form-control" id="data"></div>

								<div class="col-md-1">Valor:</div>
								<div class="col-md-2"><input type="text" class="form-control" id="valor"></div>

								<div class="col-md-1">Descrição:</div>
								<div class="col-md-4"><input type="text" class="form-control" id="descricao"></div>
							</div>

							<div class="row" style="padding-top: 10px;">
								<div class="col-md-2">Código de Barras:</div>
								<div class="col-md-10"><input type="text" class="form-control" id="codigoBarras" onblur="calculaCodigo()"></div>
							</div>
						</div>
						<div class="col-md-2 text-center">
							<a href="javascript:cadastraConta()" class="btn btn-flat btn-block btn-primary" style="height: 78px; padding-top: 23px; font-size: 20px;">
								<i class="fa fa-check">&nbsp;</i>Enviar
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<div class="box-title">Consulta</div>
				</div>

				<div class="box-body">
					<div id="calendario"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="janelaModal" tabindex="-1" role="dialog" aria-labelledby="tituloModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="tituloModal"></h4>
				</div>
				<div class="modal-body" id="conteudoModal">
				</div>
			</div>
		</div>
	</div>

{% endblock controles %}

{% block cabecalho %}
	<link rel="stylesheet" href="{% static 'bibliotecas/fullcalendar/dist/fullcalendar.min.css' %}">
	<link rel="stylesheet" href="{% static 'bibliotecas/fullcalendar/dist/fullcalendar.print.min.css' %}" media="print">
	<link rel="stylesheet" href="{% static 'bibliotecas/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock cabecalho %}

{% block processamento %}
	<script src="{% static 'bibliotecas/fullcalendar/dist/fullcalendar.min.js' %}"></script>
	<script src="{% static 'bibliotecas/fullcalendar/dist/locale/pt-br.js' %}"></script>

	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>

	<script src="{% static 'js/boletosBancarios.js' %}"></script>
	<script src="{% static 'bibliotecas/qrcode-js/qrcode.min.js' %}"></script>

	<script>
		function validaFormulario() {
			if ($('#data').val() == '' || $('#valor').val() == '' || $('#descricao').val() == '') {
				return false
			} else {
				return true
			}
		}

		function limpaFormulario() {
			$('#data').val('')
			$('#valor').val('')
			$('#descricao').val('')
			$('#codigoBarras').val('')
		}

		function cadastraConta() {
			if (validaFormulario()) {
				dados = {
					data: $('#data').val(),
					valor: $('#valor').val(),
					descricao: $('#descricao').val(),
					codigoBarras: $('#codigoBarras').val()
				}

				$.post('{% url 'cadastrarContasAPagar' %}', dados)
				.done(function(resposta){
					if (resposta.status == '1') {
						$('#calendario').fullCalendar('renderEvent', {
							id: resposta.conta.id,
							valor: 'R$ ' + parseFloat(resposta.conta.valor).toFixed(2).toString().replace('.', ','),
							descricao: resposta.conta.descricao,
							codigoBarras: resposta.conta.codigoBarras,

							title: resposta.conta.descricao + ' - R$ ' + parseFloat(resposta.conta.valor).toFixed(2).toString().replace('.',','),
							start: moment(resposta.conta.data),
							end: moment(resposta.conta.data),
							allDay: true,
							backgroundColor: '#a00',
							borderColor: '#a00'
						}, true)

						limpaFormulario()
					} else {
						$('#alertas').html('<div class="alert alert-danger">Houve um erro ao cadastrar a conta. Informe um administrador do sistema</div>')
					}
				})
				.fail(function() {
					$('#alertas').html('<div class="alert alert-danger">Houve um erro ao cadastrar a conta. Tente novamente</div>')
				})
			} else {
				$('#alertas').html('<div class="alert alert-warning">Preencha os campos corretamente e tente de novo.</div>')
			}
		}

		function excluirConta(idConta) {
			$('#janelaModal').modal('hide')
			$.get('{% url 'excluirContasAPagar' %}?idConta=' + idConta)
			.done(function(resposta) {
				if (resposta.status == '1') {
					$('#calendario').fullCalendar('removeEvents', idConta)
				} else {
					$('#alertas').html('<div class="alert alert-danger">Erro ao excluir o evento. Informe um administrador do sistema.</div>')
				}
			})
			.fail(function() {
				$('#alertas').html('<div class="alert alert-danger">Erro ao excluir o evento. Recarregue a página e tente novamente.</div>')
			})
		}

		function reportarPagamento(idConta) {
			$('#janelaModal').modal('hide')
			$.get('{% url 'reportarPagamento' %}?idConta=' + idConta)
			.done(function(resposta) {
				if (resposta.status == '1') {
					evento = $('#calendario').fullCalendar('clientEvents', idConta)[0]
					evento.backgroundColor = '#0d0'
					evento.borderColor = '#0d0'
					$('#calendario').fullCalendar('rerenderEvents')
				} else {
					$('#alertas').html('<div class="alert alert-danger">Erro ao excluir o evento. Informe um administrador do sistema.</div>')
				}
			})
			.fail(function() {
				$('#alertas').html('<div class="alert alert-danger">Erro ao excluir o evento. Recarregue a página e tente novamente.</div>')
			})
		}

		function calculaCodigo() {
			if ($('#codigoBarras').val().length == 54) {
				var codigoBarras = $('#codigoBarras').val().replace(' ', '').replace('.', '')
				codigo = calcula_barra(codigoBarras)
				var vencimento = fator_vencimento(codigo.substr(5, 4))
				$('#valor').val(codigo.substr(9, 8)*1 + ',' + codigo.substr(17, 2))
				$('#data').val(moment(vencimento, 'DD-MM-YYYY HH:mm').format('YYYY-MM-DD'))
				$('#descricao').focus()
			}
		}

		$(document).ready(function() {
			$('#data').datepicker({
				language: 'pt-BR',
				format: "yyyy-mm-dd"
			})

			$('#calendario').fullCalendar({
				locale: 'pt-br',
				header		: {
					left	: 'prev,next today',
					center: 'title',
					right : 'month,agendaWeek,agendaDay'
				},
				buttonText: {
					today: 'Hoje',
					month: 'Mensal',
					week : 'Semanal',
					day	: 'Diário'
				},
				events: [
					{% for conta in contas %}
						{
							id: {{conta.id}},
							valor: 'R$ {{conta.valor}}',
							descricao: '{{conta.descricao}}',
							codigoBarras: '{{conta.codigoBarras}}'.replace(/ /g, ''),

							title: '{{conta.descricao}} - R$ {{conta.valor}}',
							start: moment('{{conta.data.isoformat}}'),
							end: moment('{{conta.data.isoformat}}'),
							allDay: true,
							{% if conta.pago %}
								backgroundColor: '#0d0',
								borderColor: '#0d0'
							{% else %}
								backgroundColor: '#a00',
								borderColor: '#a00'
							{% endif %}
						}{% if not forloop.last %},{% endif %}
					{% endfor %}
				],
				// events		: [
				// 	{
				// 		title					: 'Luz',
				// 		start					: moment('2017-07-26'),
				// 		end						: moment('2017-07-26'),
				// 		allDay				 : true,
				// 		backgroundColor: '#a00', //Success (green)
				// 		borderColor		: '#a00' //Success (green)
				// 	}
				// ],
				editable	: true,
				droppable : true, // this allows things to be dropped onto the calendar !!!

				eventClick: function(conta, jsEvent, view) {
        			$('#tituloModal').html('Dados da Conta ' + conta.id)
					$('#conteudoModal').html(`
						<div class="row" style="font-size: 17px;">
							<div class="col-md-1">Data:</div>
							<div class="col-md-2">${moment(conta.start).format('DD/MM/YYYY')}</div>

							<div class="col-md-2">Descrição:</div>
							<div class="col-md-4">${conta.descricao}</div>

							<div class="col-md-1">Valor:</div>
							<div class="col-md-2">${conta.valor}</div>
						</div>

						<div class="row" style="padding-top:10px;">
							<div class="col-md-12">Código de Barras: ${conta.codigoBarras}</div>
						</div>

						<div class="row" style="padding-top: 10px;">
							<div class="col-md-12" style="width: 200px; height: 200px;" id="qrCode"></div>
						</div>

						<div class="row" style="padding-top: 30px;">
							<div class="col-md-6 text-center">
								<a href="javascript:excluirConta(${conta.id})" class="btn btn-danger btn-block btn-flat">
									<i class="fa fa-trash-o">&nbsp;</i>Excluir Conta
								</a>
							</div>
							<div class="col-md-6 text-center">
								<a href="javascript:reportarPagamento(${conta.id})" class="btn btn-primary btn-flat btn-block">
									<i class="fa fa-money">&nbsp;</i>Reportar Pagamento
								</a>
							</div>
						</div>
					`)
					$('#janelaModal').modal('show')
					if (conta.codigoBarras != '') {
						var qrCode = new QRCode(document.getElementById('qrCode'), {width: 200, height: 200})
						qrCode.makeCode(conta.codigoBarras)
					}
			    },

				eventDrop: function(event, delta, revert) {
					dados = {
						id: event.id,
						data: moment(event.start).format('YYYY-MM-DD')
					}
					$.post('{% url 'editarContasAPagar' %}', dados)
					.done(function(resposta) {
						if (resposta.status != '1') {
							$('#alertas').html('<div class="alert alert-danger">Ocorreu um erro ao modificar o registro. Informe um administrador do sistema</div>')
						}
					})
					.fail(function() {
						$('#alertas').html('<div class="alert alert-danger">Ocorreu um erro ao modificar o registro. Atualize a página e tente de novo.</div>')
					})
				}
			})
		})
	</script>
{% endblock processamento %}
