{% extends 'base.html' %}

{% load staticfiles %}

{% block titulo %}
	Ler Mensagem
{% endblock titulo %}

{% block controles %}
	<div class="row">
		<div class="col-md-3">
			<a href="{% url 'telaNovaMensagem' %}" class="btn btn-primary btn-flat btn-block margin-bottom">Nova Mensagem</a>
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Pastas</h3>
					<div class="box-tools">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="box-body no-padding">
					<ul class="nav nav-pills nav-stacked">
						<li><a href="{% url 'telaMensagensEntrada' %}"><i class="fa fa-inbox"></i> Caixa de Entrada</a></li>
						<li><a href="{% url 'telaMensagensEnviadas' %}"><i class="fa fa-envelope-o"></i> Enviadas</a></li>
					</ul>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /. box -->
		</div>
		<!-- /.col -->
		<div class="col-md-9">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Ler Mensagem</h3>
				</div>

				<!-- /.box-header -->
				<div class="box-body no-padding">
					<div class="mailbox-read-info">
						<h3 style="padding-bottom: 20px;">{{mensagem.assunto}}</h3>
						<h5>De: {{mensagem.remetente.usuario.get_full_name}} ({{mensagem.remetente.usuario.username}})</h5>
						<h5>
							Para: {{mensagem.destinatario.usuario.get_full_name}} ({{mensagem.destinatario.usuario.get_full_name}})
							<span class="mailbox-read-time pull-right">{{mensagem.dataHoraEnvio}}</span>
						</h5>
					</div>
					<!-- /.mailbox-read-info -->
					<div class="mailbox-read-message">
						{{mensagem.texto|safe}}
					</div>
					<!-- /.mailbox-read-message -->
				</div>
				<!-- /.box-body -->
				{% if mensagem.remetente != request.user.usuario_set.first %}
					<div class="box-footer">
						<div class="pull-right">
							<a href="#" class="btn btn-default"><i class="fa fa-reply">&nbsp;</i>Responder</a>
							<a href="#" class="btn btn-default"><i class="fa fa-share">&nbsp;</i>Encaminhar</a>
						</div>
						<a href="javascript:apagarMensagem({{mensagem.id}})" class="btn btn-default">
							<i class="fa fa-trash-o">&nbsp;</i>Apagar
						</a>
						<a href="javascript:imprimir()" class="btn btn-default">
							<i class="fa fa-print">&nbsp;</i>Imprimir
						</a>
					</div>
					<!-- /.box-footer -->
				{% endif %}

			</div>
			<!-- /. box -->

		</div>
	</div>
{% endblock controles %}

{% block processamento %}
	<script>
		$(function () {
		  //Enable iCheck plugin for checkboxes
		  //iCheck for checkbox and radio inputs
		  $('.mailbox-messages input[type="checkbox"]').iCheck({
		    checkboxClass: 'icheckbox_flat-blue',
		    radioClass: 'iradio_flat-blue'
		  });

		  //Enable check and uncheck all functionality
		  $(".checkbox-toggle").click(function () {
		    var clicks = $(this).data('clicks');
		    if (clicks) {
		      //Uncheck all checkboxes
		      $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
		      $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
		    } else {
		      //Check all checkboxes
		      $(".mailbox-messages input[type='checkbox']").iCheck("check");
		      $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
		    }
		    $(this).data("clicks", !clicks);
		  });

		  //Handle starring for glyphicon and font awesome
		  $(".mailbox-star").click(function (e) {
		    e.preventDefault();
		    //detect type
		    var $this = $(this).find("a > i");
		    var glyph = $this.hasClass("glyphicon");
		    var fa = $this.hasClass("fa");

		    //Switch states
		    if (glyph) {
		      $this.toggleClass("glyphicon-star");
		      $this.toggleClass("glyphicon-star-empty");
		    }

		    if (fa) {
		      $this.toggleClass("fa-star");
		      $this.toggleClass("fa-star-o");
		    }
		  });
		});
	</script>
{% endblock processamento %}
