{% extends 'base.html' %}

{% load static %}

{% block titulo %}
	Nova Mensagem
{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{% url 'inicial' %}"><i class="fa fa-dashboard"></i> Inicial</a></li>
		<li class="active">Nova Mensagem</li>
	</ol>
{% endblock breadcrumb %}

{% block controles %}
	<div class="row">
		<div class="col-md-12">
			<div id="alertas"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<a href="{% url 'telaNovaMensagem' %}" class="btn btn-primary btn-flat btn-block margin-bottom">Nova Mensagem</a>
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Pastas</h3>
					<div class="box-tools">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="box-body no-padding">
					<ul class="nav nav-pills nav-stacked">
						<li><a href="{% url 'telaMensagensEntrada' %}"><i class="fa fa-inbox"></i> Caixa de Entrada</a></li>
						<li><a href="{% url 'telaMensagensEnviadas' %}"><i class="fa fa-envelope-o"></i> Enviadas</a></li>
					</ul>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /. box -->
		</div>
		<!-- /.col -->
		<div class="col-md-9">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Nova Mensagem</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="form-group">
						<select id="destinatario" class="form-control">
							<option value="0" disabled selected>Para:</option>
							{% for usuario in usuarios %}
								{% if usuario.usuario != request.user %}
									<option value="{{usuario.id}}">{{usuario.usuario.get_full_name}} ({{usuario.usuario.username}})</option>
								{% endif %}
							{% endfor %}

						</select>
					</div>
					<div class="form-group">
						<input type="text" id="assunto" class="form-control" placeholder="Assunto:">
					</div>
					<div class="form-group">
						<p>Mensagem:</p>
						<div id="mensagem"></div>
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<div class="pull-right">
						<a href="javascript:enviarMensagem()" class="btn btn-primary btn-flat"><i class="fa fa-envelope-o">&nbsp;</i>Enviar</a>
					</div>
					<a href="{% url 'telaMensagensEntrada' %}" class="btn btn-default btn-flat"><i class="fa fa-times">&nbsp;</i>Cancelar</a>
				</div>
				<!-- /.box-footer -->
			</div>
			<!-- /. box -->
		</div>
		<!-- /.col -->
	</div>
{% endblock controles %}

{% block cabecalho %}
	<link rel="stylesheet" href="{% static 'bibliotecas/summernote/dist/summernote.css' %}">
{% endblock cabecalho %}

{% block processamento %}
	<script src="{% static 'bibliotecas/summernote/dist/summernote.min.js' %}"></script>
	<script src="{% static 'bibliotecas/summernote/dist/lang/summernote-pt-BR.min.js' %}"></script>

	<script type="text/javascript">
		$('#mensagem').summernote({
			lang: 'pt-BR',
			airMode: true
		})

		function validaFormulario() {
			if ($('#destinatario').val() != '0' && $('#assunto').val() != '') {
				return true
			} else {
				$('#alertas').html('<div class="alert alert-warning">Preencha os dados corretamente e tente de novo</div>')
				return false
			}
		}

		function enviarMensagem() {
			if (validaFormulario()) {
				dados = {
					destinatario: $('#destinatario').val(),
					assunto: $('#assunto').val(),
					texto: $('#mensagem').summernote('code')
				}
				$.post('{% url 'enviarMensagem' %}', dados, function(resposta) {
					if (resposta.status == '1') {
						window.location.href = '{% url 'telaMensagensEntrada' %}'
					} else {
						$('#alertas').html('<div class="alert alert-danger">Erro ao enviar a mensagem. Contate um administrador do sistema</div>')
					}
				})
				.fail(function() {
					$('#alertas').html('<div class="alert alert-danger">Erro ao enviar a mensagem. Tente novamente</div>')
				})
			}
		}
	</script>
{% endblock processamento %}
