{% extends 'base.html' %}

{% load static %}

{% block titulo %}Agenda de Tarefas{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{% url 'inicial' %}"><i class="fa fa-dashboard"></i> Inicial</a></li>
		<li class="active">Agenda de Tarefas</li>
	</ol>
{% endblock breadcrumb %}

{% block controles %}
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<div class="box-title">Cadastrar</div>
				</div>
				<div class="box-body">

					<div class="row">
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-1">Data:</div>
								<div class="col-md-2"><input type="text" class="form-control date-picker" id="data"></div>

								<div class="col-md-1">Título:</div>
								<div class="col-md-5"><input type="text" class="form-control" id="titulo"></div>

								<div class="col-md-1">Prioridade:</div>
								<div class="col-md-2">
									<select id="prioridade" class="form-control">
										<option value="1">Urgente</option>
										<option value="2">Importante</option>
										<option value="3" selected>Normal</option>
										<option value="4">Não importante</option>
									</select>
								</div>
							</div>

							<div class="row" style="padding-top: 10px;">
								<div class="col-md-1">Descrição:</div>
								<div class="col-md-11"><textarea id="descricao" class="form-control" rows="2"></textarea></div>
							</div>
						</div>
						<div class="col-md-2 text-center">
							<a href="javascript:cadastraTarefa()" class="btn btn-flat btn-block btn-primary" style="height: 78px; padding-top: 23px; font-size: 20px; margin-top: 15px;">
								<i class="fa fa-check">&nbsp;</i>Enviar
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<div class="box-title">Consulta - {{tarefas.count}} tarefas não concluídas</div>
				</div>

				<div class="box-body">
					<div class="row" style="border-bottom: solid 1px #eee; padding-bottom: 10px; display: none;">
						<div class="col-md-1 text-center">Filtro:</div>
						<div class="col-md-10 text-center">
							<a href="#" class="btn btn-warning btn-flat">Abertos</a>
							<a href="#" class="btn btn-default btn-flat">Concluídos</a>
						</div>
						<div class="col-md-1"></div>
					</div>

					<div id="listaTarefas">
						{% for tarefa in tarefas %}
							<div class="row" style="padding-top: 10px;">
								<div class="col-md-1">
									<a href="javascript:marcaConcluido({{tarefa.id}})" title="Marcar como concluído" class="btn btn-default btn-flat btn-block">
										<i class="fa fa-check"></i>
									</a>
								</div>

								<div class="col-md-10">
									<a href="javascript:telaMudaPrioridade({{tarefa.id}})" class="prioridade prioridade-{{tarefa.prioridade}}">
										<i class="fa fa-circle"></i>&nbsp;
									</a>
									<a href="javascript:dadosTarefa({{tarefa.id}})" class="tarefa">
										{% if tarefa.data %}{{tarefa.data|date:"d/m/Y"}} - {% endif %}
										{{tarefa.titulo}}
									</a>
								</div>

								<div class="col-md-1">
									<a href="javascript:excluiTarefa({{tarefa.id}})" title="Excluir Tarefa" class="btn btn-danger btn-flat">
										<i class="fa fa-trash"></i>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock controles %}

{% block cabecalho %}
	<link rel="stylesheet" href="{% static 'bibliotecas/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock cabecalho %}

{% block processamento %}
	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>

	<script>

		$(document).ready(function() {
			$('#data').datepicker({
				language: 'pt-BR',
				format: "dd/mm/yyyy"
			})
		})

		function validaFormulario() {
			if ($('#titulo').val() == '') {
				return false
			} else {
				return true
			}
		}

		function limpaFormulario() {
			$('#data').val('')
			$('#titulo').val('')
			$('#prioridade').val('3')
			$('#descricao').val('')
		}

		function preencheTarefas(tarefas) {
			$('#listaTarefas').html('')
			for(i=0; i<tarefas.length; i++) {
				$('#listaTarefas').append(`
					<div class="row" style="padding-top: 10px;">
						<div class="col-md-1">
							<a href="javascript:marcaConcluido(${tarefas[i].id})" class="btn btn-default btn-flat btn-block" title="Marcar como concluído">
								<i class="fa fa-check"></i>
							</a>
						</div>

						<div class="col-md-10">
							<a href="javascript:telaMudaPrioridade(${tarefas[i].id})" class="prioridade prioridade-${tarefas[i].prioridade}">
								<i class="fa fa-circle">&nbsp;</i>
							</a>
							<a href="javascript:dadosTarefa(${tarefas[i].id})" class="tarefa">
								${tarefas[i].data != null ? moment(tarefas[i].data).format('DD/MM/YYYY') + ' - ': ''}
								${tarefas[i].titulo}
							</a>
						</div>
						<div class="col-md-1">
							<a href="javascript:excluiTarefa(${tarefas[i].id})" title="Excluir Tarefa" class="btn btn-danger btn-flat">
								<i class="fa fa-trash"></i>
							</a>
						</div>
					</div>
				`)
			}
		}

		function marcaConcluido(idTarefa) {
			$.get('{% url 'concluirTarefa' %}?idTarefa=' + idTarefa.toString())
			.done(function(resposta){
				if (resposta.status == '1') {
					preencheTarefas(resposta.tarefas)
				} else if (resposta.status == '2') {
					swal('Erro', 'Não foi informado um idTarefa. Comunique um administrador do sistema.', 'error')
				} else if (resposta.status == '3') {
					swal('Acesso negado', 'Você não é o dono dessa tarefa!', 'warning')
				} else {
					swal('Erro', 'Comunique um administrador do sistema', 'error')
				}
			})
			.fail(function() {
				swal('Erro', 'Recarregue a página e tente novamente', 'error')
			})
		}

		function excluiTarefa(idTarefa) {
			$.get('{% url 'excluirTarefa' %}?idTarefa=' + idTarefa.toString())
			.done(function(resposta) {
				if (resposta.status == '1') {
					preencheTarefas(resposta.tarefas)
				} else if (resposta.status == '2') {
					swal('Não há um ID registrado', 'Comunique um administrador do sistema', 'error')
				} else {
					swal('Acesso Negado', 'Você não é o dono dessa tarefa', 'warning')
				}
			})
			.fail(function() {
				swal('Erro', 'Comunique um administrador do sistema', 'error')
			})
		}

		function dadosTarefa(idTarefa) {
			$.get('{% url 'dadosTarefa' %}?idTarefa=' + idTarefa.toString())
			.done(function(resposta) {
				if (resposta.status == '1') {
					swal({
						title: `Dados da Tarefa ${idTarefa}`,
						html: `
						<div class="row">
							<div class="col-md-12">
								<p style="font-size: 22px;">${resposta.tarefa[0].titulo}</p>
								<p>Prioridade:
									${
										resposta.tarefa[0].prioridade == '1' ? '<span class="prioridade prioridade-1">Urgente</span>' :
										resposta.tarefa[0].prioridade == '2' ? '<span class="prioridade prioridade-2">Importante</span>' :
										resposta.tarefa[0].prioridade == '3' ? '<span class="prioridade prioridade-3">Normal</span>' :
										'<span class="prioridade prioridade-4">Não importante</span>'
									}
								</p>

								Descrição:
								<textarea class="form-control" rows="5">${resposta.tarefa[0].descricao}</textarea>
							</div>
						</div>
						`
					}).then(function(resultado) {
						if (resultado.value) {
							//Incluir aqui o código para enviar as modificações para o servidor
						}
					})
				} else if (resposta.status == '2') {
					swal('Acesso Negado', 'Você não é o dono dessa tarefa!', 'warning')
				} else {
					swal('Erro', 'Comunique um administrador do sistema', 'error')
				}
			})
			.fail(function() {
				swal('Erro', 'Recarregue a página e tente novamente.', 'error')
			})
		}

		function telaMudaPrioridade(idTarefa) {
			$.get('{% url 'dadosTarefa' %}?idTarefa=' + idTarefa.toString())
			.done(function(resposta) {
				swal({
					title: `Mudar Prioridade - Tarefa ${idTarefa}`,
					html: `
						<div class="row">
							<div class="col-md-12">
								Prioridade:
								<select id="novaPrioridade" class="form-control">
									<option value="1"${resposta.tarefa[0].prioridade == '1' ? ' selected' : ''}>Urgente</option>
									<option value="2"${resposta.tarefa[0].prioridade == '2' ? ' selected' : ''}>Importante</option>
									<option value="3"${resposta.tarefa[0].prioridade == '3' ? ' selected' : ''}>Normal</option>
									<option value="4"${resposta.tarefa[0].prioridade == '4' ? ' selected' : ''}>Não Importante</option>
								</select>
							</div>
						</div>
					`
				})
				.then(function(resultado) {
					if (resultado.value) {
						$.get(`{% url 'alterarPrioridadeTarefa' %}?idTarefa=${idTarefa}&prioridade=${$('#novaPrioridade').val()}`)
						.done(function(resposta) {
							if (resposta.status == '1') {
								preencheTarefas(resposta.tarefas)
							} else if (resposta.status == '2') {
								swal(
									'ID não informado',
									'Comunique um administrador do sistema',
									'warning'
								)
							} else if (resposta.status == '3') {
								swal(
									'Acesso negado',
									'Você não é o dono dessa tarefa',
									'warning'
								)
							} else {
								swal(
									'Erro',
									'Comunique um administrador do sistema',
									'error'
								)
							}
						})
						.fail(function() {
							swal(
								'Erro',
								'Recarregue a página e tente novamente.',
								'error'
							)
						})
					}
				})
			})
			.fail(function() {
				swal('Erro', 'Recarregue a página e tente novamente.', 'error')
			})
		}

		function cadastraTarefa() {
			if (validaFormulario()) {
				dados = {
					data: $('#data').val(),
					titulo: $('#titulo').val(),
					prioridade: $('#prioridade').val(),
					descricao: $('#descricao').val()
				}

				$.post('{% url 'adicionarTarefa' %}', dados)
				.done(function(resposta) {
					if (resposta.status == '1') {
						if ($('#titulo').val()[0] == '@') {
							swal('Tarefa cadastrada com sucesso!', '', 'success')
							limpaFormulario()
						} else {
							limpaFormulario()
							preencheTarefas(resposta.tarefas)
						}
					} else if (resposta.status == '2') {
						swal(
							'Usuário não encontrado',
							'Tente novamente',
							'error'
						)
					} else {
						swal(
							'Erro ao cadastrar a tarefa',
							'Comunique um administrador do sistema',
							'error'
						)
					}
				})
				.fail(function() {
					swal('Erro ao cadastrar a tarefa', 'Recarregue a página e tente novamente', 'error')
				})
			} else {
				swal('Preencha um título para a tarefa', '', 'warning')
			}
		}
	</script>
{% endblock processamento %}
