{% extends 'base.html' %}

{% load staticfiles %}

{% block titulo %}Tesouraria{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{% url 'inicial' %}"><i class="fa fa-dashboard"></i> Inicial</a></li>
		<li class="active">Tesouraria</li>
	</ol>
{% endblock breadcrumb %}

{% block controles %}
	<div class="row">
		<div class="col-md-6">
			<div class="box">
				<div class="box-header with-border">
					<div class="box-title">Cadastro</div>
				</div>
				<div class="box-body">

					<div class="row">
						<div class="col-md-2">Código de Barras:</div>
						<div class="col-md-10"><input type="text" class="form-control" id="codigoBarras" onblur="calculaCodigo()"></div>
					</div>

					<div class="row" style="padding-top: 10px;">
						<div class="col-md-1 text-right">Tipo:</div>
						<div class="col-md-5"><select id="cadastroTipo" class="form-control">
								<option value="0" selected disabled>Selecione...</option>
								<option value="E">Entrada</option>
								<option value="S">Saída</option>
							</select></div>

						<div class="col-md-2 text-right">Data e Hora:</div>
						<div class="col-md-4"><input type="text" class="form-control" id="cadastroDataHora"></div>
					</div>

					<div class="row" style="padding-top: 10px;">
						<div class="col-md-1 text-right">Desc.:</div>
						<div class="col-md-5"><input type="text" class="form-control" id="cadastroDescricao"></div>

						<div class="col-md-2 text-right">Valor:</div>
						<div class="col-md-4"><input type="text" class="form-control" id="cadastroValor"></div>
					</div>

					<div class="row" style="padding-top: 10px;">
						<div class="col-md-12 text-center">
							<a href="javascript:cadastrarTesouraria()" class="btn btn-primary btn-flat btn-block">
								<i class="fa fa-check">&nbsp;</i>Enviar
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box">
				<div class="box-header with-border">
					<div class="box-title">Consulta</div>
				</div>
				<div class="box-body">

					<div class="row">
						<div class="col-md-2 text-right">Período:</div>
						<div class="col-md-10">
						    <div class="input-daterange input-group" id="pesquisaData">
						        <input type="text" class="input-sm form-control" id="pesquisaDataInicial" />
						        <span class="input-group-addon">até</span>
						        <input type="text" class="input-sm form-control" id="pesquisaDataFinal" />
						    </div>
						</div>
					</div>

					<div class="row" style="padding-top: 10px;">
						<div class="col-md-12">
							<a href="javascript:pesquisarTesouraria()" class="btn btn-primary btn-flat btn-block">
								<i class="fa fa-check">&nbsp;</i>Enviar
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="box box-warning">
				<div class="box-header with-border">
					<div class="box-title">Saldo Anterior</div>
				</div>
				<div class="box-body text-center" id="saldoAnterior"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-header with-border">
					<div class="box-title">Saldo</div>
				</div>
				<div class="box-body text-center" id="saldo"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="box box-info">
				<div class="box-header with-border">
					<div class="box-title">Entradas</div>
				</div>
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover" id="tabelaEntradas">
						<tbody>
							<tr>
								<th>Data e Hora</th>
								<th>Descrição</th>
								<th>Valor</th>
								<th></th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box box-danger">
				<div class="box-header with-border">
					<div class="box-title">Saídas</div>
				</div>
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover" id="tabelaSaidas">
						<tbody>
							<tr>
								<th>Data e Hora</th>
								<th>Descrição</th>
								<th>Valor</th>
								<th></th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock controles %}

{% block cabecalho %}
	<link rel="stylesheet" href="{% static 'bibliotecas/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
	<link rel="stylesheet" href="{% static 'bibliotecas/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
{% endblock cabecalho %}

{% block processamento %}
	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>

	<script src="{% static 'bibliotecas/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

	<script src="{% static 'js/boletosBancarios.js' %}"></script>

	<script type="text/javascript">
		function verificaFormulario() {
			if ($('#cadastroTipo').val() != '0' && $('#cadastroDataHora').val() != '' && $('#cadastroDescricao').val() != '' && $('#cadastroValor').val() != '') {
				return true
			} else {
				return false
			}
		}

		function cadastrarTesouraria() {
			if (verificaFormulario()) {
				dados = {
					tipo: $('#cadastroTipo').val(),
					dataHora: $('#cadastroDataHora').val(),
					descricao: $('#cadastroDescricao').val(),
					valor: $('#cadastroValor').val()
				}

				$.post('{% url 'cadastrarTesouraria' %}', dados)
				.done(function(resposta) {
					if (resposta.status == '1') {
						swal({
							type: 'success',
							title: 'Cadastro realizado com sucesso'
						})
					} else {
						swal({
							type: 'error',
							title: 'Erro no cadastro',
							text: 'Informe um administrador do sistema'
						})
					}
				})
				.fail(function() {
					swal({
						type: 'error',
						title: 'Erro',
						text: 'Recarregue a página e tente novamente.'
					})
				})
			} else {
				swal({
					type: 'warning',
					title: 'Dados Incorretos',
					text: 'Preencha os campos corretamente e tente de novo.'
				})
			}
		}

		function limpaDados() {
			$('#tabelaEntradas').html(`
				<tbody>
					<tr>
						<th>Data e Hora</th>
						<th>Descrição</th>
						<th>Valor</th>
						<th></th>
					</tr>
				</tbody>
			`)
			$('#tabelaSaidas').html(`
				<tbody>
					<tr>
						<th>Data e Hora</th>
						<th>Descrição</th>
						<th>Valor</th>
						<th></th>
					</tr>
				</tbody>
			`)
			$('#saldo').html('')
			$('#saldoAnterior').html('')
		}

		function pesquisarTesouraria() {
			if ($('#pesquisaDataInicial').val() != '' && $('#pesquisaDataFinal').val() != ''){
				$.get('{% url 'pesquisarTesouraria' %}' + `?dataInicial=${$('#pesquisaDataInicial').val()}&dataFinal=${$('#pesquisaDataFinal').val()}`)
				.done(function(resposta) {
					//Reiniciar as tabelas
					var totalEntradas = 0
					var totalSaidas = 0
					var saldo = parseFloat(resposta.saldoAnterior)
					var saldoAnterior = parseFloat(resposta.saldoAnterior)

					limpaDados()

					for (i=0; i<resposta.movimentacoes.length; i++) {
						if (resposta.movimentacoes[i].tipo == 'E') {
							totalEntradas += parseFloat(resposta.movimentacoes[i].valor)
							saldo += parseFloat(resposta.movimentacoes[i].valor)
							$('#tabelaEntradas tr:last').after(`
								<tr>
									<td>${moment(resposta.movimentacoes[i].dataHora).format('DD/MM/YYYY HH:mm')}</td>
									<td>${resposta.movimentacoes[i].descricao}</td>
									<td>R$ ${parseFloat(resposta.movimentacoes[i].valor).toFixed(2).toString().replace('.',',')}</td>
									<td></td>
								</tr>
							`)
						} else if (resposta.movimentacoes[i].tipo == 'S') {
							totalSaidas += parseFloat(resposta.movimentacoes[i].valor)
							saldo -= parseFloat(resposta.movimentacoes[i].valor)
							$('#tabelaSaidas tr:last').after(`
								<tr>
									<td>${moment(resposta.movimentacoes[i].dataHora).format('DD/MM/YYYY HH:mm')}</td>
									<td>${resposta.movimentacoes[i].descricao}</td>
									<td>R$ ${parseFloat(resposta.movimentacoes[i].valor).toFixed(2).toString().replace('.',',')}</td>
									<td></td>
								</tr>
							`)
						}
					}

					//Linhas dos totais
					$('#tabelaEntradas tr:last').after(`
						<tr style="font-weight: bold;">
							<td colspan="2">TOTAL</td>
							<td>R$ ${totalEntradas.toFixed(2).toString().replace('.',',')}</td>
							<td></td>
						</tr>
					`)
					$('#tabelaSaidas tr:last').after(`
						<tr style="font-weight: bold;">
							<td colspan="2">TOTAL</td>
							<td>R$ ${totalSaidas.toFixed(2).toString().replace('.',',')}</td>
							<td></td>
						</tr>
					`)

					//Caixa de Saldo
					$('#saldoAnterior').html(`<h3>R$ ${saldoAnterior.toFixed(2).toString().replace('.', ',')}</h3>`)
					$('#saldo').html(`<h3>R$ ${saldo.toFixed(2).toString().replace('.', ',')}</h3>`)
				})
				.fail(function() {
					swal(
						'Erro',
						'Recarregue a página e tente novamente',
						'error'
					)
				})
			} else {
				swal(
					'Dados Incorretos',
					'Preencha os campos corretamente e tente de novo.',
					'warning'
				)
			}
		}

		function calculaCodigo() {
			if ($('#codigoBarras').val().length == 54) {
				var codigoBarras = $('#codigoBarras').val().replace(' ', '').replace('.', '')
				codigo = calcula_barra(codigoBarras)
				var vencimento = fator_vencimento(codigo.substr(5, 4))
				$('#cadastroTipo').val('S')
				//$('#cadastroDataHora').val(moment(new Date).format('DD/MM/YYYY HH:mm'))
				$('#cadastroValor').val(codigo.substr(9, 8)*1 + ',' + codigo.substr(17, 2))
				$('#cadastroDataHora').focus()
			}
		}

		$(document).ready(function() {
			$('#pesquisaData').datepicker({
				format: "yyyy-mm-dd",
				todayBtn: true,
				language: "pt-BR",
				todayHighlight: true
			});

			$('#cadastroDataHora').datetimepicker({
				locale: 'pt-BR'
			});
		})
	</script>
{% endblock processamento %}
