{% extends 'base.html' %}

{% load static %}

{% block titulo %}Contas a Pagar{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{% url 'principal:inicial' %}"><i class="fa fa-dashboard"></i> Inicial</a></li>
		<li class="active">Contas a Pagar</li>
	</ol>
{% endblock breadcrumb %}

{% block controles %}

	{% if perms.financeiro.add_contasapagar %}
		<div class="row">
			<div class="col-md-12" id="alertas"></div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<div class="box-title">Cadastrar</div>
					</div>
					<div class="box-body">

						<div class="row">
							<div class="col-md-10">
								<div class="row">
									<div class="col-md-2">Data:</div>
									<div class="col-md-2"><input type="text" class="form-control" id="data"></div>

									<div class="col-md-1">Valor:</div>
									<div class="col-md-2"><input type="text" class="form-control" id="valor"></div>

									<div class="col-md-1">Descrição:</div>
									<div class="col-md-4"><input type="text" class="form-control" id="descricao"></div>
								</div>

								<div class="row" style="padding-top: 10px;">
									<div class="col-md-2">Código de Barras:</div>
									<div class="col-md-10"><input type="text" class="form-control" id="codigo_barras" onblur="calcula_codigo()"></div>
								</div>
							</div>
							<div class="col-md-2 text-center">
								<a href="javascript:cadastrar_conta()" class="btn btn-flat btn-block btn-primary" style="height: 78px; padding-top: 23px; font-size: 20px;">
									<i class="fa fa-check">&nbsp;</i>Enviar
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<div class="box-title">Consulta</div>
				</div>

				<div class="box-body">
					<div id="calendario"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="janelaModal" tabindex="-1" role="dialog" aria-labelledby="tituloModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="tituloModal"></h4>
				</div>
				<div class="modal-body" id="conteudoModal">
				</div>
			</div>
		</div>
	</div>

{% endblock controles %}

{% block cabecalho %}
	<link rel="stylesheet" href="{% static 'bibliotecas/fullcalendar/dist/fullcalendar.min.css' %}">
	<link rel="stylesheet" href="{% static 'bibliotecas/fullcalendar/dist/fullcalendar.print.min.css' %}" media="print">
	<link rel="stylesheet" href="{% static 'bibliotecas/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock cabecalho %}

{% block processamento %}
	<script src="{% static 'bibliotecas/fullcalendar/dist/fullcalendar.min.js' %}"></script>
	<script src="{% static 'bibliotecas/fullcalendar/dist/locale/pt-br.js' %}"></script>

	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>

	<script src="{% static 'js/boletosBancarios.js' %}"></script>
	<script src="{% static 'bibliotecas/qrcode-js/qrcode.min.js' %}"></script>

	<script>
		function valida_formulario() {
			if ($('#data').val() == '' || $('#valor').val() == '' || $('#descricao').val() == '') {
				return false
			} else {
				return true
			}
		}

		function limpa_formulario() {
			$('#data').val('')
			$('#valor').val('')
			$('#descricao').val('')
			$('#codigo_barras').val('')
		}

		function cadastrar_conta() {
			if (valida_formulario()) {
				dados = {
					data: $('#data').val(),
					valor: $('#valor').val(),
					descricao: $('#descricao').val(),
					codigo_barras: $('#codigo_barras').val()
				}

				{% if perms.financeiro.add_contasapagar %}

					$.post('{% url 'financeiro:contas-a-pagar' %}', dados)
					.done(function(resposta){
						if (resposta.status == 200) {
							conta = JSON.parse(resposta.conta)
							$('#calendario').fullCalendar('renderEvent', {
								id: conta[0].pk,
								valor: 'R$ ' + parseFloat(conta[0].fields.valor).toFixed(2).toString().replace('.', ','),
								descricao: conta[0].fields.descricao,
								codigo_barras: conta[0].fields.codigo_barras,

								title: conta[0].fields.descricao + ' - R$ ' + parseFloat(conta[0].fields.valor).toFixed(2).toString().replace('.',','),
								start: moment(conta[0].fields.data),
								end: moment(conta[0].fields.data),
								allDay: true,
								backgroundColor: '#a00',
								borderColor: '#a00'
							}, true)

							limpa_formulario()
						} else {
							$('#alertas').html('<div class="alert alert-danger">Houve um erro ao cadastrar a conta. Informe um administrador do sistema</div>')
						}
					})
					.fail(function() {
						$('#alertas').html('<div class="alert alert-danger">Houve um erro ao cadastrar a conta. Tente novamente</div>')
					})
				{% endif %}
			} else {
				$('#alertas').html('<div class="alert alert-warning">Preencha os campos corretamente e tente de novo.</div>')
			}
		}

		function excluir_conta(id_conta) {
			$('#janelaModal').modal('hide')
			{% if perms.financeiro.delete_contasapagar %}
				$.ajax({
					type: 'DELETE',
					url: '{% url 'financeiro:contas-a-pagar' %}',
					contentType: 'application/json',
					data: {
						id_conta: id_conta
					}
				})
				.done(function(resposta) {
					if (resposta.status == 200) {
						$('#calendario').fullCalendar('removeEvents', id_conta)
					} else if (resposta.status == 404) {
						location.reload()
					} else {
						$('#alertas').html('<div class="alert alert-danger">Erro ao excluir o evento. Informe um administrador do sistema.</div>')
					}
				})
				.fail(function() {
					$('#alertas').html('<div class="alert alert-danger">Erro ao excluir o evento. Recarregue a página e tente novamente.</div>')
				})
			{% else %}
				$('#alertas').html('<div class="alert alert-warning">Usuário sem permissão para realizar esta ação. Se isso for um engano, contate um administrador do sistema.</div>')
			{% endif %}
		}

		function reportar_pagamento(id_conta) {
			$('#janelaModal').modal('hide')
			dados_requisicao = {
				acao: 'reportar-pagamento',
				id_conta: id_conta,
			}

			{% if perms.financeiro.change_contasapagar %}
				$.ajax({
					type: 'PUT',
					url: '{% url 'financeiro:contas-a-pagar' %}',
					contentType: 'application/json',
					data: dados_requisicao
				})
				.done(function(resposta) {
					if (resposta.status == 200) {
						evento = $('#calendario').fullCalendar('clientEvents', id_conta)[0]
						evento.backgroundColor = '#0d0'
						evento.borderColor = '#0d0'
						$('#calendario').fullCalendar('rerenderEvents')
					} else {
						$('#alertas').html('<div class="alert alert-danger">Erro ao reportar o pagamento. Informe um administrador do sistema.</div>')
					}
				})
				.fail(function() {
					$('#alertas').html('<div class="alert alert-danger">Erro ao reportar o pagamento. Recarregue a página e tente novamente.</div>')
				})
			{% else %}
				$('#alertas').html('<div class="alert alert-warning">Você não tem permissão para realizar esta ação. Se isso for um engano, contate um administrador do sistema</div>')
			{% endif %}
		}

		function calcula_codigo() {
			if ($('#codigo_barras').val().length == 54) {
				var codigo_barras = $('#codigo_barras').val().replace(' ', '').replace('.', '')
				codigo = calcula_barra(codigo_barras)
				var vencimento = fator_vencimento(codigo.substr(5, 4))
				$('#valor').val(codigo.substr(9, 8)*1 + ',' + codigo.substr(17, 2))
				$('#data').val(moment(vencimento, 'DD-MM-YYYY HH:mm').format('YYYY-MM-DD'))
				$('#descricao').focus()
			}
		}

		$(document).ready(function() {
			$('#data').datepicker({
				language: 'pt-BR',
				format: "yyyy-mm-dd"
			})

			$('#calendario').fullCalendar({
				locale: 'pt-br',
				header		: {
					left	: 'prev,next today',
					center: 'title',
					right : 'month,agendaWeek,agendaDay'
				},
				buttonText: {
					today: 'Hoje',
					month: 'Mensal',
					week : 'Semanal',
					day	: 'Diário'
				},
				events: [
					{% for conta in contas %}
						{
							id: {{conta.id}},
							valor: 'R$ {{conta.valor}}',
							descricao: '{{conta.descricao}}',
							codigo_barras: '{{conta.codigo_barras}}'.replace(/ /g, ''),

							title: '{{conta.descricao}} - R$ {{conta.valor}}',
							start: moment('{{conta.data.isoformat}}'),
							end: moment('{{conta.data.isoformat}}'),
							allDay: true,
							{% if conta.pago %}
								backgroundColor: '#0d0',
								borderColor: '#0d0'
							{% else %}
								backgroundColor: '#a00',
								borderColor: '#a00'
							{% endif %}
						}{% if not forloop.last %},{% endif %}
					{% endfor %}
				],
				// events		: [
				// 	{
				// 		title					: 'Luz',
				// 		start					: moment('2017-07-26'),
				// 		end						: moment('2017-07-26'),
				// 		allDay				 : true,
				// 		backgroundColor: '#a00', //Success (green)
				// 		borderColor		: '#a00' //Success (green)
				// 	}
				// ],
				editable	: true,
				droppable : true, // this allows things to be dropped onto the calendar !!!

				eventClick: function(conta, jsEvent, view) {
        			$('#tituloModal').html('Dados da Conta ' + conta.id)
					$('#conteudoModal').html(`
						<div class="row" style="font-size: 17px;">
							<div class="col-md-1">Data:</div>
							<div class="col-md-2">${moment(conta.start).format('DD/MM/YYYY')}</div>

							<div class="col-md-2">Descrição:</div>
							<div class="col-md-4">${conta.descricao}</div>

							<div class="col-md-1">Valor:</div>
							<div class="col-md-2">${conta.valor}</div>
						</div>

						<div class="row" style="padding-top:10px;">
							<div class="col-md-12">Código de Barras: ${conta.codigo_barras}</div>
						</div>

						<div class="row" style="padding-top: 10px;">
							<div class="col-md-12" style="width: 200px; height: 200px;" id="qr_code"></div>
						</div>

						<div class="row" style="padding-top: 30px;">
							<div class="col-md-6 text-center">
								<a href="javascript:excluir_conta(${conta.id})" class="btn btn-danger btn-block btn-flat">
									<i class="fa fa-trash-o">&nbsp;</i>Excluir Conta
								</a>
							</div>
							<div class="col-md-6 text-center">
								<a href="javascript:reportar_pagamento(${conta.id})" class="btn btn-primary btn-flat btn-block">
									<i class="fa fa-money">&nbsp;</i>Reportar Pagamento
								</a>
							</div>
						</div>
					`)
					$('#janelaModal').modal('show')
					if (conta.codigo_barras != '') {
						var qrCode = new QRCode(document.getElementById('qr_code'), {width: 200, height: 200})
						qrCode.makeCode(conta.codigo_barras)
					}
			    },

				eventDrop: function(event, delta, revert) {
					dados_requisicao = {
						acao: 'alterar-data',
						id_conta: event.id,
						data: moment(event.start).format('YYYY-MM-DD')
					}
					$.ajax({
						type: 'PUT',
						url: '{% url 'financeiro:contas-a-pagar' %}',
						data: dados_requisicao,
					})
					.done(function(resposta) {
						if (resposta.status != 200) {
							$('#alertas').html('<div class="alert alert-danger">Ocorreu um erro ao modificar o registro. Informe um administrador do sistema</div>')
						}
					})
					.fail(function() {
						$('#alertas').html('<div class="alert alert-danger">Ocorreu um erro ao modificar o registro. Atualize a página e tente de novo.</div>')
					})
				}
			})
		})
	</script>
{% endblock processamento %}
