{% extends 'base.html' %}

{% load static %}

{% block titulo %}Contas a Receber{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{% url 'principal:inicial' %}"><i class="fa fa-dashboard"></i> Inicial</a></li>
		<li class="active">Contas a Receber</li>
	</ol>
{% endblock breadcrumb %}

{% block controles %}
	{% if perms.financeiro.add_contasareceber %}
		<div class="row">
			<div class="col-md-12" id="alertas"></div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<div class="box-title">Cadastrar</div>
					</div>
					<div class="box-body">

						<div class="row">
							<div class="col-md-1">Data:</div>
							<div class="col-md-2"><input type="text" class="form-control" id="data"></div>

							<div class="col-md-1">Valor:</div>
							<div class="col-md-2"><input type="text" class="form-control" id="valor"></div>

							<div class="col-md-1">Descrição:</div>
							<div class="col-md-3"><input type="text" class="form-control" id="descricao"></div>

							<div class="col-md-2 text-center">
								<a href="javascript:cadastrar_conta()" class="btn btn-flat btn-primary"><i class="fa fa-check">&nbsp;</i>Enviar</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<div class="box-title">Consulta</div>
				</div>

				<div class="box-body">
					<div id="calendario"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="janelaModal" tabindex="-1" role="dialog" aria-labelledby="tituloModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="tituloModal"></h4>
				</div>
				<div class="modal-body" id="conteudoModal">
				</div>
			</div>
		</div>
	</div>
{% endblock controles %}

{% block cabecalho %}
	<link rel="stylesheet" href="{% static 'bibliotecas/fullcalendar/dist/fullcalendar.min.css' %}">
	<link rel="stylesheet" href="{% static 'bibliotecas/fullcalendar/dist/fullcalendar.print.min.css' %}" media="print">
	<link rel="stylesheet" href="{% static 'bibliotecas/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock cabecalho %}

{% block processamento %}
	<script src="{% static 'bibliotecas/fullcalendar/dist/fullcalendar.min.js' %}"></script>
	<script src="{% static 'bibliotecas/fullcalendar/dist/locale/pt-br.js' %}"></script>

	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'bibliotecas/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>

	<script>
		function valida_formulario() {
			if ($('#data').val() == '' || $('#valor').val() == '' || $('#descricao').val() == '') {
				return false
			} else {
				return true
			}
		}

		function limpa_formulario() {
			$('#data').val('')
			$('#valor').val('')
			$('#descricao').val('')
		}

		function cadastrar_conta() {
			if (valida_formulario()) {
				dados_requisicao = {
					data: $('#data').val(),
					valor: $('#valor').val(),
					descricao: $('#descricao').val()
				}

				$.post('{% url 'financeiro:contas-a-receber' %}', dados_requisicao)
				.done(function(resposta){
					if (resposta.status == 200) {
						conta = JSON.parse(resposta.conta)
						$('#calendario').fullCalendar('renderEvent', {
							id: conta[0].pk,
							valor: 'R$ ' + parseFloat(conta[0].fields.valor).toFixed(2).toString().replace('.', ','),
							descricao: conta[0].fields.descricao,
							title: conta[0].fields.descricao + ' - R$ ' + parseFloat(conta[0].fields.valor).toFixed(2).toString().replace('.',','),
							start: moment(conta[0].fields.data),
							end: moment(conta[0].fields.data),
							allDay: true,
							backgroundColor: '#a00',
							borderColor: '#a00'
						}, true)

						limpa_formulario()
					} else {
						$('#alertas').html('<div class="alert alert-danger">Houve um erro ao cadastrar a conta. Informe um administrador do sistema.</div>')
					}
				})
				.fail(function() {
					$('#alertas').html('<div class="alert alert-danger">Houve um erro ao cadastrar a conta. Tente novamente</div>')
				})
			} else {
				$('#alertas').html('<div class="alert alert-warning">Preencha os campos corretamente e tente de novo.</div>')
			}
		}

		function excluir_conta(id_conta) {
			swal.close()

			{% if perms.financeiro.delete_contasareceber %}
				$.ajax({
					type: 'DELETE',
					url: '{% url 'financeiro:contas-a-receber' %}',
					contentType: 'application/json',
					data: {
						id_conta: id_conta
					}
				})
				.done(function(resposta) {
					if (resposta.status == 200) {
						$('#calendario').fullCalendar('removeEvents', id_conta)
					} else if (resposta.status == 404) {
						location.reload()
					} else {
						$('#alertas').html('<div class="alert alert-danger">Erro ao excluir o evento. Informe um administrador do sistema.</div>')
					}
				})
				.fail(function() {
					$('#alertas').html('<div class="alert alert-danger">Erro ao excluir o evento. Recarregue a página e tente novamente.</div>')
				})
			{% else %}
				$('#alertas').html('<div class="alert alert-warning">Usuário sem permissão para realizar esta ação. Se isso for um engano, contate um administrador do sistema.</div>')
			{% endif %}
		}

		function reportar_pagamento(id_conta) {
			swal.close()
			dados_requisicao = {
				acao: 'reportar-recebimento',
				id_conta: id_conta
			}

			{% if perms.financeiro.change_contasareceber %}
				$.ajax({
					type: 'PUT',
					contentType: 'application/json',
					url: '{% url 'financeiro:contas-a-receber' %}',
					data: dados_requisicao
				})
				.done(function(resposta) {
					if (resposta.status == 200) {
						evento = $('#calendario').fullCalendar('clientEvents', id_conta)[0]
						evento.backgroundColor = '#0d0'
						evento.borderColor = '#0d0'
						$('#calendario').fullCalendar('rerenderEvents')
					} else {
						swal(
							'Erro ao reportar o pagamento',
							'Comunique um administrador do sistema',
							'error'
						)
					}
				})
				.fail(function() {
					swal(
						'Erro ao reportar o pagamento',
						'Recarregue a página e tente novamente.',
						'error'
					)
				})
			{% else %}
				swal(
					'Sem permissão para realizar esta ação',
					'Se isso for um engano, contate um administrador do sistema.',
					'warning'
				)
			{% endif %}
		}

		$(document).ready(function() {
			$('#data').datepicker({
				language: 'pt-BR',
				format: "yyyy-mm-dd"
			})

			$('#calendario').fullCalendar({
				locale: 'pt-br',
				header		: {
					left	: 'prev,next today',
					center: 'title',
					right : 'month,agendaWeek,agendaDay'
				},
				buttonText: {
					today: 'Hoje',
					month: 'Mensal',
					week : 'Semanal',
					day	: 'Diário'
				},
				events: [
					{% for conta in contas %}
						{
							id: {{conta.id}},
							valor: 'R$ {{conta.valor}}',
							descricao: '{{conta.descricao}}',
							title: '{{conta.descricao}} - R$ {{conta.valor}}',
							start: moment('{{conta.data.isoformat}}'),
							end: moment('{{conta.data.isoformat}}'),
							allDay: true,
							{% if conta.recebido %}
								backgroundColor: '#0d0',
								borderColor: '#0d0'
							{% else %}
								backgroundColor: '#a00',
								borderColor: '#a00'
							{% endif %}
						}{% if not forloop.last %},{% endif %}
					{% endfor %}
				],
				// events		: [
				// 	{
				// 		title					: 'Luz',
				// 		start					: moment('2017-07-26'),
				// 		end						: moment('2017-07-26'),
				// 		allDay				 : true,
				// 		backgroundColor: '#a00', //Success (green)
				// 		borderColor		: '#a00' //Success (green)
				// 	}
				// ],
				editable	: true,
				droppable : true, // this allows things to be dropped onto the calendar !!!

				eventClick: function(conta, jsEvent, view) {
					swal({
						title: `Dados da Conta ${conta.id}`,
						html: `
							<div class="row text-left"><div class="col-md-12">Data: ${moment(conta.start).format('DD/MM/YYYY')}</div></div>
							<div class="row text-left">
								<div class="col-md-12">
									Descrição: ${conta.descricao}
								</div>
							</div>
							<div class="row text-left"><div class="col-md-12">Valor: ${conta.valor}</div></div>

							<div class="row" style="padding-top: 30px;">
								<div class="col-md-12 text-center">Reportar Pagamento:</div>
							</div>

							<div class="row" style="padding-top: 10px;">
								<div class="col-md-6 text-center">
									<a href="javascript:excluir_conta(${conta.id})" class="btn btn-danger btn-block btn-flat">
										<i class="fa fa-trash-o">&nbsp;</i>Excluir Conta
									</a>
								</div>
								<div class="col-md-6 text-center">
									<a href="javascript:reportar_pagamento(${conta.id})" class="btn btn-primary btn-flat btn-block">
										<i class="fa fa-money">&nbsp;</i>Dinheiro
									</a>
								</div>
							</div>
						`,
						showConfirmButton: false,
						showCloseButton: true
					})
			    },

				eventDrop: function(event, delta, revert) {
					dados_requisicao = {
						acao: 'alterar-data',
						id_conta: event.id,
						data: moment(event.start).format('YYYY-MM-DD')
					}
					$.ajax({
						type: 'PUT',
						url: '{% url 'financeiro:contas-a-receber' %}',
						data: dados_requisicao,
					})
					.done(function(resposta) {
						if (resposta.status != 200) {
							swal(
								'Erro ao modificar o registro',
								'Comunique um administrador do sistema',
								'error'
							)
						}
					})
					.fail(function() {
						swal(
							'Erro ao modificar o registro',
							'Recarregue a página e tente novamente.',
							'error'
						)
					})
				}
			})
		})
	</script>
{% endblock processamento %}
